/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 100%;
}


.header {
	#inner-header {
		width:85%;
	}
}



/*********************
HOME STYLES
*********************/


.article-header {
		
	
	min-height:600px;
	


		.header-text {
			width:100%;
			
			display:block;
			font-size:1.5em;
				
		}
		

	}

		
	.brief-description {
			display:none;
		}

		.home {
			.services {
				.inside-contact {
					#ninja_forms_field_1_div_wrap,
					#ninja_forms_field_2_div_wrap {
						
						height:30px;
						width:48%;
						float:left;

					}
					#ninja_forms_field_1_div_wrap 					{
						margin-right:4%;
					}

				}
			}
	
			.featured-work {
				.featured-list {
					.individual-list {
						min-width:25%;
					}
				}
			}

		}
