/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 100%;
}


/*********************
HOME STYLES
*********************/


.article-header {
		
	
	min-height:600px;
	


		.header-text {
			width:100%;
			
			display:block;
			font-size:1.5em;
				
		}
		

	}

