$main-color: #45ac9d;
$secondary-back:#F4F4F6;
$text-color:#606060;
$main-font:'Montserrat';
$border-color: #888888;

.center {text-align:center}
.clear {clear:both;}
.float-right {float:right;}
.float-left {float:left;}

.site-size {
	width:1200px;
	margin:0 auto;
}

.body {
	
	color:$text-color;
	
	
}

.main-content {
	float:none;
	padding:0;
	margin:0 auto;
	
}

/**************************/
/*  Head and Paragraph Styles */
/**************************/

h1 {
	font-size: 2rem;
	text-transform:uppercase;
}
h2 {
	font-size: 1.75rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size:1.25rem;
}

h5 {
	font-size:1rem;
}

h6 {
	font-size:0.5rem;
}


#masthead {
	background: none repeat scroll 0 0 $main-color;

	nav {
		margin-top:-25px;
		ul li{
			float:left;
			margin: 0px 20px ;
		}
	}
}



/*  SINGLE PORTFOLIO PAGE */
.home-page {
	background: url("../img/SC_computer right.jpg") no-repeat scroll left center / cover rgba(0, 0, 0, 0);
	background-size:cover;
	margin:0;
}


/**************************/
/*  Footer                */
/**************************/

.site-info	{
	background-color:yellow;

	.site-copyright {
		width:10%;
		float:left;
	}

	.site-contact {
		width:10%;
		float:left;
	}

	.site-social {
		width:33%;
		float:right;

	}

	
}






/**************************/
/*  SINGLE PORTFOLIO PAGE */
/**************************/
.portfolio-page {
	margin-top:50px;
	aside {
		width:50%;
		float:left;
		li {
			list-style-type:none;
			margin-bottom:40px;
			figure img{
				width:100%;
				height:auto;
				border: 1px solid $border-color;
			}
		}
	}
	article {
		h1 {
			color:$text-color;
		}
		blockquote {
			margin: 0 30px 30px 20px;
			text-align:justify;
		}
		width:50%;
		float:left;

		#service-color {
			color:$border-color;
		}
	}
}




.portfolio {
	background-color:$secondary-back;
	padding-top:40px;
	padding-bottom:40px;
	.portfolio-wrapper {
		@extend .site-size;

		h1 {
			text-align:center;
			text-decoration:uppercase;
			color:$text-color;
			padding-bottom:20px;
		}

		.individual-list {
	
			width:25%;
		
		figure {
			border:1px solid black;
			
			img {
				width:100%;
				height:auto;
			}
		}
}

		ul { list-style: none;
			overflow:hidden;
			li {
				float:left;
				text-align:center;
				margin:0px 20px 0 0px
			}
		}
	}
}

/** Front Page Services */
.services {
	.service-wrapper {
		@extend .site-size;
		.contact-wrapper {
			width:50%;
			float:right;
			
		}
		.service-wrapper {
			width:50%;
			float:left;
		}
	}	
}

/** Front Page About **/
.about {
	background-color:$secondary-back;

	.about-wrapper {
		@extend .site-size;
				
			figure {
				float:left;
				margin:80px 15px 10px 10px;
			}
			.about-content {
				
				width:75%;
				float:left;
			}
		
	}
}

/**************************/
/*  Footer                */
/**************************/

.site-footer	{
background-color:yellow;


		.copyright,
		.contact {
		width:30%;
		float:left;
	}

	
}

.the-footer {
	width:100%;
	border-top: 1px black dotted;
	padding-top:10px;

	.footer-wrapper {
		background-color: $main-color;

		color:white;

		#social {
			color:white;

			ul { 
				list-style: none;
				overflow:hidden;

				li:nth-child(1) {
					float:right;
					margin-right:40px;

					font-size:2em;
				}
				li:nth-child(2) {
					float:right;
					margin-right:20px;

					font-size:2em;
				}
				li:nth-child(3) {
					float:left;
					margin-right:20px;
					width:33%;


				}
				li:nth-child(4) {
					float:left;
					width:40%;
					margin-right:20px;

				}

				a {
					color:black;
				}
				a:hover {
					color:white;
				}



			}
		}
	}

} 


/* Resume Page */
.resume-wrapper {
	aside {
		
		width:25%;
		float:right;
	}
	article {
		
		width:75%;
		float:left;

		
	}
}
